// FOOTER STYLES
footer {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    height: 10vh;
    background: linear-gradient($primaryColor,$accentColor);
    padding-bottom: 1px;
    border-top: 2px solid black;
}

// END OF FOOTER STYLES