// GLOBAL STYLES
// variables
$primaryColor: #FF69B4;
$secondaryColor: #F5F5F5;
$thirdColor: pink;
$fourthColor: #FFDAB9;
$accentColor: deeppink;

// mixins
@mixin primaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Bungee Shade', cursive;
} 

@mixin secondaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Open Sans', sans-serif;
}

// general styles
.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

button {
    @include secondaryFont(12);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    width: 50%;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    transition: all 1s;

    &:hover {
        top: 5px;
    }
}


// typography
html {
    font-size: 62.5%;
}

h1 {
    @include primaryFont(45);
}

h2 {
    @include primaryFont(25);
    font-weight: 400;
}

.break {
    display: table;
}

.highlight {
    font-weight: 600;
}
