// HEADER STYLES

header {
    height: 40vh;
}

.logoBackground {
    height: 260px;
    background: linear-gradient( $accentColor, $primaryColor);
    padding: 20px 0;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#hotMessLogo {
    width: 145px;
    height: 145px;
    position: absolute;
    top: 15px;
}

h1 {
    text-align: left;
    position: absolute;
    z-index: 10;
    top: 0;
}
// END OF HEADER STYLES


