// MAIN STYLES

// SECTION 1: Homepage
.homePage {
    height: 60vh;
    background: linear-gradient(white, $secondaryColor);
    border-top: 2px solid black;
    margin-top: 5px;
    padding-top: 40px;
}

.instructionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.instructions {
    display: flex;
    flex-direction: column;
    width: calc(50% - 25px);
    margin-right: 25px;
}

.instructionsTitle {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        padding-right: 10px;
        padding-top: 5px;
    }
}

#vomitIcon {
    width: 65px;
    height: 65px;
    margin: 10px 0 5px 0;   
}

.instructionsText {
    p {
        @include secondaryFont(13.5);
        line-height: 1.5;
        text-align: left;
        font-weight: 400;
    }
}

#disclaimer {
    font-weight: 400;
    font-style: italic;
}

// Homepage buttons
.homeBtns {
    width: calc(50% - 25px);
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#guideBtn,
.gameBtns {
    margin: 12.5px;
    position: relative;
	top: 0;
    left: 0;
}

#gameBtn2 {
    display: none; // hidden until 480px screen
}

#guideBtn {
    color: $accentColor;
    background: $fourthColor;
    border: 1px solid $fourthColor;
    box-shadow: -1px 1px 0px $thirdColor, -2px 2px 0px $thirdColor, -3px 3px 0px $thirdColor, -4px 4px 0px $thirdColor, -5px 5px 0px $thirdColor, -6px 6px 0px $thirdColor, -7px 7px 0px $thirdColor, -8px 8px 0px $thirdColor, -9px 9px 0px $thirdColor, -10px 10px 0px $thirdColor, 0px 0px 10px rgba(0,0,0,0.4);

    &:hover {
        box-shadow: -1px 1px 0px darken($thirdColor, 10), -2px 2px 0px darken($thirdColor, 10), -3px 3px 0px darken($thirdColor, 10), -4px 4px 0px darken($thirdColor, 10), -5px 5px 0px darken($thirdColor, 10), -6px 6px 0px darken($thirdColor, 10), -7px 7px 0px darken($thirdColor, 10), -8px 8px 0px darken($thirdColor, 10), -5px 5px 0px darken($thirdColor, 10), -5px 5px 0px darken($thirdColor, 10), 0px 0px 10px rgba(0,0,0,0.4);
        top: 5px;
        background: darken($fourthColor, 10);
        border: 1px solid darken($fourthColor, 10);
    }
}

.gameBtns {
    color: $fourthColor;
    background: $primaryColor;
    border: 1px solid $primaryColor;
    box-shadow: -1px 1px 0px $accentColor, -2px 2px 0px $accentColor, -3px 3px 0px $accentColor, -4px 4px 0px $accentColor, -5px 5px 0px $accentColor, -6px 6px 0px $accentColor, -7px 7px 0px $accentColor, -8px 8px 0px $accentColor, -9px 9px 0px $accentColor, -10px 10px 0px $accentColor, 0px 0px 10px rgba(0,0,0,0.4);

    &:hover {
       box-shadow: -1px 1px 0px darken($accentColor, 10), -2px 2px 0px darken($accentColor, 10), -3px 3px 0px darken($accentColor, 10), -4px 4px 0px darken($accentColor, 10), -5px 5px 0px darken($accentColor, 10), -6px 6px 0px darken($accentColor, 10), -7px 7px 0px darken($accentColor, 10), -8px 8px 0px darken($accentColor, 10), -5px 5px 0px darken(pink, 10), -5px 5px 0px darken($accentColor, 10), 0px 0px 10px rgba(0,0,0,0.4);
        top: 5px;
        background: darken($primaryColor, 10);
        border: 1px solid darken($primaryColor, 10);
    }
}
// end of SECTION 1: Homepage


// SECTION 2: Gamepage
.gamePage {
    background: linear-gradient($secondaryColor, white);
    min-height: 90vh;
    padding: 1px 0;

    h2 {
        margin-top: 60px;
        @include primaryFont(25);
    }

    h3 {
        @include secondaryFont(15);
        font-weight: 400;
    }

    p {
        @include secondaryFont(11.5);
        text-align: center;
        font-weight: 600;
        margin: 8px 0;
    }
}

.questionForm {
    display: flex;
    flex-direction: row;
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.option {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    text-align: center;
}

.submitForm {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#vomitBag {
    width: 50px;
    height: 50px;
}

#submit {
    @include secondaryFont(12);
    font-weight: 600;
    text-transform: uppercase;
    width: 60%;
    margin: 25px;
    padding: 25px 0;
    color: $fourthColor;
    position: relative;
	top: 0;
    left: 0;
    transition: all 1s;
    background: $primaryColor;
    border: 1px solid $primaryColor;
    box-shadow: -1px 1px 0px $accentColor, -2px 2px 0px $accentColor, -3px 3px 0px $accentColor, -4px 4px 0px $accentColor, -5px 5px 0px $accentColor, -6px 6px 0px $accentColor, -7px 7px 0px $accentColor, -8px 8px 0px $accentColor, -9px 9px 0px $accentColor, -10px 10px 0px $accentColor, 0px 0px 10px rgba(0,0,0,0.4);

    &:hover {
        box-shadow: -1px 1px 0px darken($accentColor, 10), -2px 2px 0px darken($accentColor, 10), -3px 3px 0px darken($accentColor, 10), -4px 4px 0px darken($accentColor, 10), -5px 5px 0px darken($accentColor, 10), -6px 6px 0px darken($accentColor, 10), -7px 7px 0px darken($accentColor, 10), -8px 8px 0px darken($accentColor, 10), -5px 5px 0px darken(pink, 10), -5px 5px 0px darken($accentColor, 10), 0px 0px 10px rgba(0,0,0,0.4);
        top: 5px;
        background: darken($primaryColor, 10);
        border: 1px solid darken($primaryColor, 10);
    }
}

input[type="radio"] {
    opacity: 0;

    &:checked + .icon:after {
        color: black;
    }
}

label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 15px;

    &:hover .icon:after {
        color: black;
        transition: all 1s;
    }
} 

.icon:after {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: $thirdColor;
}

.icon1:after {
    content: "\f57f"; 
}

.icon2:after {
    content: "\f119";
}

.icon3:after {
    content: "\f579";
}

.icon4:after {
    content: "\f5c8";
}

.icon5:after {
    content: "\f567";
}

.resultsContainer {
    padding: 45px 0 50px 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    h3 {
        @include primaryFont(28);
    }

    p {
        @include secondaryFont(13.5);
        font-weight: 400;
        line-height: 1.5;
    }
}
// end of SECTION 2: Gamepage


