// MAIN STYLES

// Home Page styles
.homePage {
    border-top: none;
    height: 70vh;
    margin-top: 5px;
    padding-top: 40px;
    border-top: 2px solid black;
}

.instructionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.instructions {
    display: flex;
    flex-direction: column;
    width: calc(50% - 25px);
    margin-right: 25px;
}

.instructionsTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    padding-right: 10px;
    padding-top: 5px;

    .break {
        display: table;
    }
}

#disclaimer {
    font-weight: 400;
    font-style: italic;
}


#vomitIcon {
    width: 65px;
    height: 65px;
    margin: 10px 0 5px 0;   
}

.headerBtns {
    width: calc(50% - 25px);
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#guideBtn,
.gameBtns {
    width: 50%;
    height: 80px;
    margin: 12.5px;
    position: relative;
	top: 0;
    left: 0;
    transition: all 1s;
}

#gameBtn2 {
    display: none;
}

#guideBtn:active,
.gameBtns {
    transition: all 1s;
}

#guideBtn {
    color: deeppink;
    background: #FFDAB9;
    border: 1px solid #FFDAB9;
    box-shadow: -1px 1px 0px pink, -2px 2px 0px pink, -3px 3px 0px pink, -4px 4px 0px pink, -5px 5px 0px pink, -6px 6px 0px pink, -7px 7px 0px pink, -8px 8px 0px pink, -9px 9px 0px pink, -10px 10px 0px pink, 0px 0px 10px rgba(0,0,0,0.4);

    &:hover {
        box-shadow: -1px 1px 0px darken(pink, 10), -2px 2px 0px darken(pink, 10), -3px 3px 0px darken(pink, 10), -4px 4px 0px darken(pink, 10), -5px 5px 0px darken(pink, 10), -6px 6px 0px darken(pink, 10), -7px 7px 0px darken(pink, 10), -8px 8px 0px darken(pink, 10), -5px 5px 0px darken(pink, 10), -5px 5px 0px darken(pink, 10), 0px 0px 10px rgba(0,0,0,0.4);
        top: 5px;
        background: darken($fourthColor, 10);
        border: 1px solid darken($fourthColor, 10);
    }
}

.gameBtns {
    color: #FFDAB9;
    background: hotpink;
    border: 1px solid hotpink;
    box-shadow: -1px 1px 0px deeppink, -2px 2px 0px deeppink, -3px 3px 0px deeppink, -4px 4px 0px deeppink, -5px 5px 0px deeppink, -6px 6px 0px deeppink, -7px 7px 0px deeppink, -8px 8px 0px deeppink, -9px 9px 0px deeppink, -10px 10px 0px deeppink, 0px 0px 10px rgba(0,0,0,0.4);

    &:hover {
       box-shadow: -1px 1px 0px darken(deeppink, 10), -2px 2px 0px darken(deeppink, 10), -3px 3px 0px darken(deeppink, 10), -4px 4px 0px darken(deeppink, 10), -5px 5px 0px darken(deeppink, 10), -6px 6px 0px darken(deeppink, 10), -7px 7px 0px darken(deeppink, 10), -8px 8px 0px darken(deeppink, 10), -5px 5px 0px darken(pink, 10), -5px 5px 0px darken(deeppink, 10), 0px 0px 10px rgba(0,0,0,0.4);
        top: 5px;
        background: darken($primaryColor, 10);
        border: 1px solid darken($primaryColor, 10);
    }
}
// end of Home Page


// Game Page
.gamePage {
    height: 70vh;
}

h2 {
    @include secondaryFont(15);
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 3.5px;
    text-align: center;
}

.optionsContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: cetner;
    width: 80%;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33% - 20px);
    margin: 25px auto;
}

.option4,
.option5 {
    width: 20%;
}

input[type=submit] {
    @include secondaryFont(12);
    font-weight: 600;
    text-transform: uppercase;
    width: 30%;
    margin: 25px;
    padding: 25px 0;
    color: #FFDAB9;
    position: relative;
	top: 0;
    left: 0;
    transition: all 1s;
    background: hotpink;
    border: 1px solid hotpink;
    box-shadow: -1px 1px 0px deeppink, -2px 2px 0px deeppink, -3px 3px 0px deeppink, -4px 4px 0px deeppink, -5px 5px 0px deeppink, -6px 6px 0px deeppink, -7px 7px 0px deeppink, -8px 8px 0px deeppink, -9px 9px 0px deeppink, -10px 10px 0px deeppink, 0px 0px 10px rgba(0,0,0,0.4);

    &:hover {
        box-shadow: -1px 1px 0px darken(deeppink, 10), -2px 2px 0px darken(deeppink, 10), -3px 3px 0px darken(deeppink, 10), -4px 4px 0px darken(deeppink, 10), -5px 5px 0px darken(deeppink, 10), -6px 6px 0px darken(deeppink, 10), -7px 7px 0px darken(deeppink, 10), -8px 8px 0px darken(deeppink, 10), -5px 5px 0px darken(pink, 10), -5px 5px 0px darken(deeppink, 10), 0px 0px 10px rgba(0,0,0,0.4);
        top: 5px;
        background: darken($primaryColor, 10);
        border: 1px solid darken($primaryColor, 10);
    }
}

        p {
            @include secondaryFont(11.5);
            text-align: center;
            font-weight: 600;
            margin: 8px 0;
        }

        input[type="radio"] {
            opacity: 0;
        }

        input[type="radio"]:checked + .icon:after {
            color: black;
        }

        label {
            display: inline-block;
            position: relative;
            cursor: pointer;
            font-family: sans-serif;
            font-size: 15px;
            user-select: none;

            &:hover .icon:after {
                color: black;
                transition: all 1s;
            }
        } 

        .icon:after {
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            font-size: 30px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            color: pink;
        }

        .icon1:after {
            content: "\f57f"; 
        }

        .icon2:after {
            content: "\f119";
        }

        .icon3:after {
            content: "\f579";
        }

        .icon4:after {
            content: "\f5c8";
        }

        .icon5:after {
            content: "\f567";
        }

        .resultsContainer {
            margin: 45px auto;
            text-align: center;

            h3 {
                @include primaryFont(25);
            }
        }
    

// end of Game Page