// RESPONSIVE (MEDIA QUERY) STYLES


/* Landscape Phone to Portrait Tablet */
@media (max-width: 760px) {
    // Homepage 
    .homePage {
        height: 70vh;

        .instructionsContainer {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .instructions {
            width: 100%;
            margin: 0;
        }

        .instructionsTitle {
            justify-content: center;
        }

        .homeBtns {
            flex-direction: row;
            width: 65%;
            align-items: center;
            margin-top: 5px;
            margin: 0 auto;
        }
    }
    // end of Homepage

    // Gamepage
    .gamePage {
        border-top: 2px solid black;

        .questionForm {
            flex-direction: column;
        }

        h2, h3 {
            text-align: center;
        }

        .optionsContainer {
            width: 100%;
        }

        .option {
            width: 33%;
            margin: 28.5px 0;
        }

        .submitForm {
            width: 50%;
            flex-direction: row;
            margin: 25px auto;
        }

        #vomitBag {
            width: 30px;
            height: 30px;
        }
    }
    // end of Gamepage

    // Guidepage
    .guidePage {
        .guideContent {
            flex-direction: column;
        }

        .guideHeading {
            border-bottom: none;

            .exitBtn {
                width: 25px;
                height: 25px;
            }

            .fa-times-circle {
                font-size: 28px;
            }

            h3 {
                width: 80%;
                @include primaryFont(18);
            }

            .fa-skull {
                display: none;
            }
        }

        h4 {
            @include secondaryFont(12.5);
            text-align: center;
    
            .number {
                @include primaryFont(20);
            }
        }

        .level {
            width: 90%;
            margin: 0;
        }
    }
    // end of Guidepage
}
// * end of max-width 760px



/* Landscape phones and down */
@media (max-width: 480px) {
    // Header 
    header {

        .logoBackground {
            padding: 10px 0;
            height: 140px;
        }

        .headerLogo {
            flex-direction: column;
            align-items: center;
        }

        #hotMessLogo {
           width: 80px;
           height: 80px;
           top: 8px;
           margin-left: 20px;
        }

        h1 {
            @include primaryFont(25);
        }
    }
    // end of Header

    // Homepage 
    .homePage {
        height: 100vh;
        position: relative;
        top: 130px;
        left: 0;
        right: 0;
        margin-top: 0;
        padding-top: 20px;

        h3 {
            @include primaryFont(20);
        }

        .instructionsText {
            margin-bottom: 20px;

            p {
                @include secondaryFont(12);
            }
        }

        #disclaimer {
            @include secondaryFont(10);
            font-style: italic;
            margin-top: 25px;
        }

        #vomitIcon {
            width: 40px;
            height: 40px;
        }

        .homeBtns {
            width: 100%;
            flex-direction: column;
        }

        #gameBtn1 {
            display: none;
        }

        #gameBtn2 {
            display: block;
        }

        #guideBtn,
        #gameBtn2 {
            height: 60px;
        }
    }
    // end of Homepage styles

    // Gamepage styles
    .gamePage {
        position: relative;
        height: 85vh;
        display: none;
        top: 130px;
        left: 0;
        right: 0; 
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        .optionsContainer {
            width: 100%;
        }

        h2 {
            @include primaryFont(18);
            margin-top: 30px;
        }

        h3 {
            @include secondaryFont(12.5);
        }

        .option {
            width: calc(33%);
        }

        #vomitBag {
            display: none;
        }

        #submit {
            width: 100%;
            margin: 0;
            text-align: center;
        }

        p {
            @include secondaryFont(12.5);
            text-align: center;
            margin: 8px 0;
        }

        .icon:after {
            font-size: 30px;
        }

        .resultsContainer {
            padding-top: 0px;

            text-align: center;

            h3 {
                @include primaryFont(25);
            }
        }
    }
    // end of Gamepage

    // Footer 
    footer {
        display: none;
    }
}
// end max-width 480px

