// RESPONSIVE (MEDIA QUERY) STYLES

/* Portrait Tablet and Small Desktops */
@media (max-width: 940px) {

}

@media (max-width: 480px) {
    footer {
        display: none;
    }
}

/* Landscape Phone to Portrait Tablet */
@media (max-width: 760px) {

    // Home Page styles
    .homePage {
        height: 70vh;

        .instructionsContainer {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .instructions {
            width: 100%;
            margin: 0;
        }

        .instructionsTitle {
            justify-content: center;
        }

        .headerBtns {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 65%;
            align-items: center;
            margin-top: 5px;
            margin: 0 auto;
            
        }
    }
    // end of Home Page styles

    // Game Page styles
    .gamePage {
        .questionForm {
            flex-direction: column;
        }

        h2, h3 {
            text-align: center;
        }

        .optionsContainer {
            width: 100%;
        }

        .option {
            width: 33%;
            margin: 28.5px 0;
        }

        .submitForm {
            width: 50%;
            display: flex;
            flex-direction: row;
            margin: 25px auto;
        }

        #vomitBag {
            width: 30px;
            height: 30px;
        }
    }
    // end of Game Page styles
}


/* Landscape phones and down */
@media (max-width: 480px) {
    // Header Styles
    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        .logoBackground {
            padding: 10px 0;
            height: 180px;
        }

        .headerLogo {
            flex-direction: column;
            align-items: center;
        }

        #hotMessLogo {
           width: 100px;
           height: 100px;
           top: 8px;
           margin-left: 20px;
        }

        h1 {
            @include primaryFont(35);
        }
    }
    // end of Header Styles

    // Homepage Styles
    body .homePage {
        height: 85vh;
        position: relative;
        margin-top: 0;
        padding-top: 20px;
        top: 180px;
        left: 0;
        right: 0;

        .instructionsText {
            margin-bottom: 20px;

            p {
                @include secondaryFont(12);
            }
        }

        #disclaimer {
            @include secondaryFont(10);
            font-style: italic;
            margin-top: 25px;
        }

        #vomitIcon {
            width: 40px;
            height: 40px;
        }

        .headerBtns {
            width: 100%;
        }

        #gameBtn1 {
            display: none;
        }

        #gameBtn2 {
            display: block;
        }

        #guideBtn,
        #gameBtn2 {
            height: 60px;
        }
    }
    // end of Homepage styles

    // Gamepage styles
    .gamePage {
        position: relative;
        height: 85vh;
        display: none;
        // z-index: 100;
        top: 180px;
        left: 0;
        right: 0; 
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        .optionsContainer {
           width: 100%;
        }

        .option {
            width: calc(50%);
            margin: 20px 0;
        }

        input[type=submit] {
            width: 50%;
            margin-top: 18px;
            margin-left: 15%;
        }

        p {
            @include secondaryFont(12.5);
            text-align: center;
            font-weight: 600;
            margin: 8px 0;
        }

      
        label {
            display: inline-block;
            position: relative;
            cursor: pointer;
            font-family: sans-serif;
            font-size: 15px;
            user-select: none;

            &:hover .icon:after {
                color: black;
                transition: all 1s;
            }
        } 

        .icon:after {
            font-size: 30px;
        }

        .resultsContainer {
            margin: 45px auto;
            text-align: center;

            h3 {
                @include primaryFont(25);
            }
        }
    }
}

