// *** List of all stylesheets:

// SETUP STYLES
@import "partials/_setup.scss";

// GLOBAL STYLES
@import "partials/_global.scss";

// HEADER STYLES
@import "partials/_header.scss";

// MAIN STYLES
@import "partials/_main.scss";

// FOOTER STYLES
@import "partials/_footer.scss";

// RESPONSIVE (MEDIA QUERY) STYLES
@import "partials/_mq.scss";

