article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

button {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 35%; }

.instructionsText p {
  font-size: 13.5px;
  font-size: 1.35rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  text-align: left;
  font-weight: 400; }

.homePage,
.gamePage {
  border-top: 2px solid black; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 45px;
  font-size: 4.5rem;
  font-family: 'Bungee Shade', cursive; }

h2 {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h3 {
  font-size: 25px;
  font-size: 2.5rem;
  font-family: 'Bungee Shade', cursive; }

.highlight {
  font-weight: 600; }

header {
  height: 40vh; }

.logoBackground {
  background: -webkit-gradient(linear, left top, left bottom, from(deeppink), to(#FF69B4));
  background: -webkit-linear-gradient(deeppink, #FF69B4);
  background: -o-linear-gradient(deeppink, #FF69B4);
  background: linear-gradient(deeppink, #FF69B4);
  padding: 20px 0;
  height: 260px; }

.headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

#hotMessLogo {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 15px; }

h1 {
  text-align: left;
  position: absolute;
  z-index: 10;
  top: 0; }
  h1 .break {
    display: table; }

.homePage {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F5F5F5));
  background: -webkit-linear-gradient(white, #F5F5F5);
  background: -o-linear-gradient(white, #F5F5F5);
  background: linear-gradient(white, #F5F5F5);
  border-top: none;
  height: 60vh;
  margin-top: 5px;
  padding-top: 40px;
  border-top: 2px solid black; }

.instructionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(50% - 25px);
  margin-right: 25px; }

.instructionsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

h3 {
  padding-right: 10px;
  padding-top: 5px; }
  h3 .break {
    display: table; }

#disclaimer {
  font-weight: 400;
  font-style: italic; }

#vomitIcon {
  width: 65px;
  height: 65px;
  margin: 10px 0 5px 0; }

.headerBtns {
  width: calc(50% - 25px);
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

#guideBtn,
.gameBtns {
  width: 50%;
  height: 80px;
  margin: 12.5px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

#gameBtn2 {
  display: none; }

#guideBtn:active,
.gameBtns {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

#guideBtn {
  color: deeppink;
  background: #FFDAB9;
  border: 1px solid #FFDAB9;
  -webkit-box-shadow: -1px 1px 0px pink, -2px 2px 0px pink, -3px 3px 0px pink, -4px 4px 0px pink, -5px 5px 0px pink, -6px 6px 0px pink, -7px 7px 0px pink, -8px 8px 0px pink, -9px 9px 0px pink, -10px 10px 0px pink, 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 1px 0px pink, -2px 2px 0px pink, -3px 3px 0px pink, -4px 4px 0px pink, -5px 5px 0px pink, -6px 6px 0px pink, -7px 7px 0px pink, -8px 8px 0px pink, -9px 9px 0px pink, -10px 10px 0px pink, 0px 0px 10px rgba(0, 0, 0, 0.4); }
  #guideBtn:hover {
    -webkit-box-shadow: -1px 1px 0px #ff8da1, -2px 2px 0px #ff8da1, -3px 3px 0px #ff8da1, -4px 4px 0px #ff8da1, -5px 5px 0px #ff8da1, -6px 6px 0px #ff8da1, -7px 7px 0px #ff8da1, -8px 8px 0px #ff8da1, -5px 5px 0px #ff8da1, -5px 5px 0px #ff8da1, 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 0px #ff8da1, -2px 2px 0px #ff8da1, -3px 3px 0px #ff8da1, -4px 4px 0px #ff8da1, -5px 5px 0px #ff8da1, -6px 6px 0px #ff8da1, -7px 7px 0px #ff8da1, -8px 8px 0px #ff8da1, -5px 5px 0px #ff8da1, -5px 5px 0px #ff8da1, 0px 0px 10px rgba(0, 0, 0, 0.4);
    top: 5px;
    background: #ffbf86;
    border: 1px solid #ffbf86; }

.gameBtns {
  color: #FFDAB9;
  background: hotpink;
  border: 1px solid hotpink;
  -webkit-box-shadow: -1px 1px 0px deeppink, -2px 2px 0px deeppink, -3px 3px 0px deeppink, -4px 4px 0px deeppink, -5px 5px 0px deeppink, -6px 6px 0px deeppink, -7px 7px 0px deeppink, -8px 8px 0px deeppink, -9px 9px 0px deeppink, -10px 10px 0px deeppink, 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 1px 0px deeppink, -2px 2px 0px deeppink, -3px 3px 0px deeppink, -4px 4px 0px deeppink, -5px 5px 0px deeppink, -6px 6px 0px deeppink, -7px 7px 0px deeppink, -8px 8px 0px deeppink, -9px 9px 0px deeppink, -10px 10px 0px deeppink, 0px 0px 10px rgba(0, 0, 0, 0.4); }
  .gameBtns:hover {
    -webkit-box-shadow: -1px 1px 0px #e00079, -2px 2px 0px #e00079, -3px 3px 0px #e00079, -4px 4px 0px #e00079, -5px 5px 0px #e00079, -6px 6px 0px #e00079, -7px 7px 0px #e00079, -8px 8px 0px #e00079, -5px 5px 0px #ff8da1, -5px 5px 0px #e00079, 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 0px #e00079, -2px 2px 0px #e00079, -3px 3px 0px #e00079, -4px 4px 0px #e00079, -5px 5px 0px #e00079, -6px 6px 0px #e00079, -7px 7px 0px #e00079, -8px 8px 0px #e00079, -5px 5px 0px #ff8da1, -5px 5px 0px #e00079, 0px 0px 10px rgba(0, 0, 0, 0.4);
    top: 5px;
    background: #ff369b;
    border: 1px solid #ff369b; }

#stars {
  width: 125px;
  height: 125px;
  position: absolute;
  right: 35px;
  bottom: -25px; }

.gamePage {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(white));
  background: -webkit-linear-gradient(#F5F5F5, white);
  background: -o-linear-gradient(#F5F5F5, white);
  background: linear-gradient(#F5F5F5, white);
  min-height: 90vh;
  padding-bottom: 1px; }

h2 {
  font-size: 22.5px;
  font-size: 2.25rem;
  font-family: 'Bungee Shade', cursive;
  margin-top: 60px; }

.gamePage h3 {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.questionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 60%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.option {
  width: calc(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0;
  text-align: center; }

.submitForm {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#vomitBag {
  width: 50px;
  height: 50px; }

input[type=submit] {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  width: 60%;
  margin: 25px;
  padding: 25px 0;
  color: #FFDAB9;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background: hotpink;
  border: 1px solid hotpink;
  -webkit-box-shadow: -1px 1px 0px deeppink, -2px 2px 0px deeppink, -3px 3px 0px deeppink, -4px 4px 0px deeppink, -5px 5px 0px deeppink, -6px 6px 0px deeppink, -7px 7px 0px deeppink, -8px 8px 0px deeppink, -9px 9px 0px deeppink, -10px 10px 0px deeppink, 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 1px 0px deeppink, -2px 2px 0px deeppink, -3px 3px 0px deeppink, -4px 4px 0px deeppink, -5px 5px 0px deeppink, -6px 6px 0px deeppink, -7px 7px 0px deeppink, -8px 8px 0px deeppink, -9px 9px 0px deeppink, -10px 10px 0px deeppink, 0px 0px 10px rgba(0, 0, 0, 0.4); }
  input[type=submit]:hover {
    -webkit-box-shadow: -1px 1px 0px #e00079, -2px 2px 0px #e00079, -3px 3px 0px #e00079, -4px 4px 0px #e00079, -5px 5px 0px #e00079, -6px 6px 0px #e00079, -7px 7px 0px #e00079, -8px 8px 0px #e00079, -5px 5px 0px #ff8da1, -5px 5px 0px #e00079, 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 1px 0px #e00079, -2px 2px 0px #e00079, -3px 3px 0px #e00079, -4px 4px 0px #e00079, -5px 5px 0px #e00079, -6px 6px 0px #e00079, -7px 7px 0px #e00079, -8px 8px 0px #e00079, -5px 5px 0px #ff8da1, -5px 5px 0px #e00079, 0px 0px 10px rgba(0, 0, 0, 0.4);
    top: 5px;
    background: #ff369b;
    border: 1px solid #ff369b; }

.gamePage p {
  font-size: 11.5px;
  font-size: 1.15rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  margin: 8px 0; }

input[type="radio"] {
  opacity: 0; }

input[type="radio"]:checked + .icon:after {
  color: black; }

label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  label:hover .icon:after {
    color: black;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }

.icon:after {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: pink; }

.icon1:after {
  content: "\f57f"; }

.icon2:after {
  content: "\f119"; }

.icon3:after {
  content: "\f579"; }

.icon4:after {
  content: "\f5c8"; }

.icon5:after {
  content: "\f567"; }

.resultsContainer {
  padding: 45px 0 50px 0;
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .resultsContainer h3 {
    font-size: 28px;
    font-size: 2.8rem;
    font-family: 'Bungee Shade', cursive; }
  .resultsContainer p {
    font-size: 13.5px;
    font-size: 1.35rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5; }

footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  height: 10vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF69B4), to(deeppink));
  background: -webkit-linear-gradient(#FF69B4, deeppink);
  background: -o-linear-gradient(#FF69B4, deeppink);
  background: linear-gradient(#FF69B4, deeppink);
  padding-bottom: 1px;
  border-top: 2px solid black; }

/* Portrait Tablet and Small Desktops */
@media (max-width: 480px) {
  footer {
    display: none; } }

/* Landscape Phone to Portrait Tablet */
@media (max-width: 760px) {
  .homePage {
    height: 70vh; }
    .homePage .instructionsContainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .homePage .instructions {
      width: 100%;
      margin: 0; }
    .homePage .instructionsTitle {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .homePage .headerBtns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 65%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 5px;
      margin: 0 auto; }
  .gamePage .questionForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .gamePage h2, .gamePage h3 {
    text-align: center; }
  .gamePage .optionsContainer {
    width: 100%; }
  .gamePage .option {
    width: 33%;
    margin: 28.5px 0; }
  .gamePage .submitForm {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 25px auto; }
  .gamePage #vomitBag {
    width: 30px;
    height: 30px; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; }
    header .logoBackground {
      padding: 10px 0;
      height: 180px; }
    header .headerLogo {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    header #hotMessLogo {
      width: 100px;
      height: 100px;
      top: 8px;
      margin-left: 20px; }
    header h1 {
      font-size: 35px;
      font-size: 3.5rem;
      font-family: 'Bungee Shade', cursive; }
  body .homePage {
    height: 85vh;
    position: relative;
    margin-top: 0;
    padding-top: 20px;
    top: 180px;
    left: 0;
    right: 0; }
    body .homePage .instructionsText {
      margin-bottom: 20px; }
      body .homePage .instructionsText p {
        font-size: 12px;
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif; }
    body .homePage #disclaimer {
      font-size: 10px;
      font-size: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      margin-top: 25px; }
    body .homePage #vomitIcon {
      width: 40px;
      height: 40px; }
    body .homePage .headerBtns {
      width: 100%; }
    body .homePage #gameBtn1 {
      display: none; }
    body .homePage #gameBtn2 {
      display: block; }
    body .homePage #guideBtn,
    body .homePage #gameBtn2 {
      height: 60px; }
  .gamePage {
    position: relative;
    height: 85vh;
    display: none;
    top: 180px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .gamePage .optionsContainer {
      width: 100%; }
    .gamePage .option {
      width: calc(50%);
      margin: 20px 0; }
    .gamePage input[type=submit] {
      width: 50%;
      margin-top: 18px;
      margin-left: 15%; }
    .gamePage p {
      font-size: 12.5px;
      font-size: 1.25rem;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      font-weight: 600;
      margin: 8px 0; }
    .gamePage label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .gamePage label:hover .icon:after {
        color: black;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
    .gamePage .icon:after {
      font-size: 30px; }
    .gamePage .resultsContainer {
      margin: 45px auto;
      text-align: center; }
      .gamePage .resultsContainer h3 {
        font-size: 25px;
        font-size: 2.5rem;
        font-family: 'Bungee Shade', cursive; } }
